.searchSection {
  margin: 8px 0;
  border: none;
  height: 80px;
}

.searchChatField {
  width: 100%;
}
.chatsSection {
  height: 100%;
}

.chatList {
  min-width: 100%;
}

.bottomButtonSection {
  height: 60px;
  width: 100%;
}

.button {
  width: 100%;
  height: 100%;
}
