.topSection {
  align-self: center;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("/src/assets/images/background.png");
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.chatContainer {
  border: 1px solid black;
  min-width: 90%;
  height: 850px;
  margin-right: 120px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  width: 80%;
  margin-top: 10px;
  padding: 0px;
  display: flex;
  margin-left: 5%;
}
.leftSection {
  color: #1976d2;
  min-width: 20%;
  margin-right: 2%;
  min-height: 100%;
  text-align: center;
  position: relative;
}
