.background {
  background-image: url("/src/assets/images/background.png");
  background-position: center;
  background-size: cover;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.topSection {
  align-self: center;
  margin: 0;
  padding: 0;
}

.leftSection {
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hide {
  display: none;
}

@media (min-width: 800px) {
  .background {
    padding: 40px 80px;
  }

  .main {
    display: flex;
  }

  .leftSection {
    width: 300px;
  }

  .chatContainer {
    background-color: white;
    box-sizing: border-box;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 16px;
  }
}
