.messageInput {
  width: 1164px;
  margin-right: 20px;
}
.newMessageSection {
  align-self: flex-end;
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
}
.sendButton {
  align-self: center;
}
