.chatHeader {
  width: 100%;
  height: 40px;
  color: #312e36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.newMessageSection {
}
.messageInput {
  width: 100%;
}

.sentMessagesSection {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.2);
}
