.navBox {
  width: 100%;
  padding-left: auto;
  display: flex;
  flex-direction: column;
}

.appBar {
  max-width: 90%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  position: relative !important;
}

.iconButton {
  color: inherit;
  margin-right: 2px;
}

.typography {
  flex-grow: 1;
}

@media (min-width: 500px) {
  .typography {
    display: block;
  }
}
