.appBar {
  background: #3f51b5;
  margin: 0;
  padding: 4px;
  display: flex;
  align-items: center;
}

.iconButton {
  color: inherit;
  margin-right: 2px;
}

@media (min-width: 500px) {
  .typography {
    display: block;
  }
}
